// Keep code blocks LTR, see: https://github.com/google/docsy/issues/2529

/*rtl:ignore*/
[dir='rtl'] {
  .td-code,
  .td-code pre,
  .td-code code {
    direction: ltr;
    text-align: left;
    unicode-bidi: plaintext;
  }

  .td-code__header,
  .td-code__utilities,
  .td-code__expand {
    direction: rtl;
    text-align: start;
  }

  .td-code__filename {
    unicode-bidi: plaintext;
  }

  .highlight,
  pre,
  pre code {
    direction: ltr;
    text-align: left;
    unicode-bidi: plaintext;
  }
}

// For nav menu adjustments, see: _nav.scss.
