.td-blog {
  &-posts-list {
    @extend .list-unstyled;
    margin-top: map-get($spacers, 4) !important;

    &__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: map-get($spacers, 4) !important;
    }

    &__body {
      flex: 1;
    }
  }
}
