// Search

.td-search {
  background: transparent;
  position: relative;
  width: 100%;

  // Search icon
  &__icon {
    // Vertically center the content.
    display: flex;
    align-items: center;
    height: 100%;

    // Position this on the left of the input.
    position: absolute;
    left: 0.75em;

    // Click-through to the underlying input.
    pointer-events: none;

    &::before {
      content: '\f002';
      font: var(--fa-font-solid);
      line-height: 1;
    }

  }

  // Search input element
  &__input {
    width: 100%;
    text-indent: 1.25em;

    &:not(:focus) {
      background: transparent;
    }

    &.form-control:focus {
      color: inherit;
    }
  }

  // Hide icon on focus
  &:focus-within {
    .td-search__icon {
      display: none;
    }

    .td-search-input {
      text-indent: 0;
    }
  }

  &:not(:focus-within) {
    color: $input-placeholder-color;
  }
}
// Offline search

.td-search--offline {
  &:focus-within {
    // Don't hide the search icon on focus: this gives better UX when user
    // explores content of search-results popup and focus is lost.

    .td-search__icon {
      display: flex;
      color: $input-placeholder-color;
    }
  }
}
