{{- .Page.Store.Set "tdOutputFormat" "print" -}}
<!doctype html>
<html{{ partial "shell/document-attrs.html" (dict "page" . "theme_init" false) }}>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog td-print-view">
    {{ partial "skip-link.html" . }}
    <div class="container-fluid td-print-shell">
      <main id="td-main-content" class="td-print-document" tabindex="-1">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
