{{- .Page.Store.Set "tdOutputFormat" "html" -}}
<!doctype html>
<html{{ partial "shell/document-attrs.html" (dict "page" .) }}>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    {{ partial "skip-link.html" . }}
    {{ if partial "shell/navbar-enabled.html" . }}{{ partial "navbar.html" . }}{{ end }}
    <div class="container-fluid td-default td-outer">
      <main id="td-main-content" class="td-main" tabindex="-1">
        {{ partial "version-banner.html" . }}
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
