{{- $descriptor := partial "authors-descriptor.html" . -}}
<div class="td-content td-shell-blog-index td-author-profile">
  <div class="td-author-profile__head">
    {{ partial "authors-avatar.html" (dict "author" $descriptor "size" 96 "class" "td-author-profile__avatar") }}
    <div class="td-author-profile__identity">
      <h1 class="td-author-profile__name">{{ .Title }}</h1>
      {{- with .Description }}
      <p class="td-author-profile__description">{{ . | markdownify }}</p>
      {{- end }}
    </div>
  </div>
  {{ with partial "content/render.html" . }}<div class="td-shell-term-summary">{{ . }}</div>{{ end }}
</div>
